{% extends 'main/base.html' %}
{% load static %}

{% block style %}
<style>
body {
    background: url('https://images.unsplash.com/photo-1457301473530-d6d4d4d7b824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

ol {
    padding: 0;
}

div.d-flex > strong {
    color: #333030;
}

div.d-flex > a {
    color: #ff7473;
}

span.d-block {
    color: #8b8687;
}

div.media-body > p {
    color: #a3a1a1;
}

div.card-body > h6 {
    color: #f9a11b;
}

.border-bottom {
    border-bottom: 1px solid #ffc952 !important;
}
</style>
{% endblock %}

{% block active %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:fridge' %}">냉장고 관리</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:memo' %}">장보기 메모</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'main:recommendation' %}">추천 메뉴</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:store' %}">스토어</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-0 shadow my-5">
        <h1 class="px-5 pt-5" style="color: #79bd9a;">{{ food.name }}</h1>
        <div class="card-body px-5 py-3">
            <h3 class="font-weight-light mt-4 mb-0">재료</h3>
            <hr class="my-3">
            <ul class="row text-lg-left list-unstd appyled m-0 p-0">
                <li class="col p-0">
                    {% for ingredient in food_ingredients %}
                    <p class="media pt-2 m-0" style="color: #212529; font-size: 1.4rem !important;">
                        {{ ingredient }}
                        <a href="" style="height: 38px;">
                            <svg class="bi bi-cart-plus mx-4" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8.5 5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd"
                                      d="M8 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0v-2z"/>
                                <path fill-rule="evenodd"
                                      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        </a>
                    </p>
                    {% endfor %}
                </li>
            </ul>
        </div>

        <div class="card-body px-5 py-3">
            <h3 class="font-weight-light mt-4 mb-0">조리과정</h3>
            <hr class="my-3">
            <ol class="text-lg-left" style="list-style: none;">
                {% for recipe in food_recipe %}
                <p>{{ recipe }}</p>
                {% endfor %}
            </ol>
        </div>

        <div class="card-body px-5 py-3">
            <h6 class="border-bottom border-gray pb-2 mb-0">쿡톡</h6>
            <div class="media text-muted pt-3">
                <!--                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"-->
                <!--                     xmlns="http://www.w3.org/2000/svg"-->
                <!--                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img"-->
                <!--                     aria-label="Placeholder: 32x32">-->
                <!--                    <title>Placeholder</title>-->
                <!--                    <rect width="100%" height="100%" fill="#007bff"></rect>-->
                <!--                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>-->
                <!--                </svg>-->
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong>hjk</strong>
                        <a href="#">Follow</a>
                    </div>
                    <span class="d-block">맛있게 먹고 있습니다.</span>
                    <p class="m-0"><small>4달 전</small></p>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <!--                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"-->
                <!--                     xmlns="http://www.w3.org/2000/svg"-->
                <!--                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img"-->
                <!--                     aria-label="Placeholder: 32x32">-->
                <!--                    <title>Placeholder</title>-->
                <!--                    <rect width="100%" height="100%" fill="#007bff"></rect>-->
                <!--                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>-->
                <!--                </svg>-->
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong>djflksfkjlsdkfjlskfdlk</strong>
                        <a href="#">Follow</a>
                    </div>
                    <span class="d-block">설탕 2큰술은 돼야 할 것 같네요..</span>
                    <p class="m-0"><small>4달 전</small></p>
                </div>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#">All suggestions</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}