{% extends 'main/base.html' %}

{% block title %}
<title>Foodbock recommendation page</title>
{% endblock %}

{% block active %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:fridge' %}">냉장고 관리</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:memo' %}">장보기 메모</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'main:recommendation' %}">추천 메뉴</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:blog' %}">내 블로그</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">메뉴 추천 크롤링</h1>
    <p>인기 메뉴/추천 레시피 크롤링, 유저의 냉장고 재료에 따라 알고리즘, 온라인 쇼핑몰로 결제하기</p>
</div>
{% endblock %}