{% extends 'main/base.html' %}
{% load static %}

{% block title %}
<title>Foodbock recommendation page</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/recommendation.css' %}" type="text/css">
{% endblock %}

{% block style %}
<style>
    .category {
        padding: 40px 0;
    }

    div.col {
        flex-grow: 0;
    }

    svg.bi {
        margin: 0 0 0 4px;
    }

    div.col > div.card {
        width: 200px;
        height: 300px;
    }

    h1 > small {
        color: #ffc952;
    }

    h4.card-title {
        color: #34314c;
    }



</style>
{% endblock %}

{% block active %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:fridge' %}">냉장고 관리</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:memo' %}">장보기 메모</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'main:recommendation' %}">추천 메뉴</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:store' %}">스토어</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            {% if not food_all_set %}
            <div class="container my-5 py-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-7">
                        <p class="font-weight-medium text-center text-xs text-white text-muted animate"
                           data-toggle="animation" data-animation="fadeUp" data-animation-order="0"
                           data-animation-trigger="load">
                            안녕하세요 {{ request.user }}님!
                        </p>
                        <p class="font-weight-medium text-center text-xs text-white text-muted animate"
                           data-toggle="animation" data-animation="fadeUp" data-animation-order="0"
                           data-animation-trigger="load">
                            추천해줄 메뉴가 없네요. 냉장고 재료들을 좀 더 추가해 보는 건 어떨까요?
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}

            <ul style="list-style: none; padding: 0;">
                {% if food_br_set %}
                <li class="category">
                    <h1 class="my-4">냉장고를 부탁해
                        <small>#육수</small>
                    </h1>

                    <div class="row">
                        {% for food in food_br_set %}
                        <div class="col my-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static 'images/food/' %}{{ food.id }}.jpg" alt=""
                                     style="width: 100%; height: 180px;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ food.name }}
                                        <a href="{% url 'main:like' pk=food.pk %}" style="color: #e83e8c;">
                                            {% if not request.user in food.user.all %}
                                            <svg class="bi bi-heart" width="0.6em" height="0.6em" viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            {% else %}
                                            <svg class="bi bi-heart-fill" width="0.6em" height="0.6em"
                                                 viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                            {% endif %}
                                        </a>
                                        <span class="small" style="color: #e83e8c;">{{ food.user_count }}</span>
                                    </h4>
                                    <a href="{% url 'main:recipe' pk=food.pk %}" class="card-text">레시피 보기 ></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}

                {% if food_ve_set %}
                <li class="category">
                    <h1 class="my-4">냉장고를 부탁해
                        <small>#채소</small>
                    </h1>

                    <div class="row">
                        {% for food in food_ve_set %}
                        <div class="col my-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static 'images/food/' %}{{ food.id }}.jpg" alt=""
                                     style="width: 100%; height: 180px;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ food.name }}
                                        <a href="{% url 'main:like' pk=food.pk %}" style="color: #e83e8c;">
                                            {% if not request.user in food.user.all %}
                                            <svg class="bi bi-heart" width="0.6em" height="0.6em" viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            {% else %}
                                            <svg class="bi bi-heart-fill" width="0.6em" height="0.6em"
                                                 viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                            {% endif %}
                                        </a>
                                        <span class="small" style="color: #e83e8c;">{{ food.user_count }}</span>
                                    </h4>
                                    <a href="{% url 'main:recipe' pk=food.pk %}" class="card-text">레시피 보기 ></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}

                {% if food_ma_set %}
                <li class="category">
                    <h1 class="my-4">냉장고를 부탁해
                        <small>#해산물</small>
                    </h1>

                    <div class="row">
                        {% for food in food_ma_set %}
                        <div class="col my-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static 'images/food/' %}{{ food.id }}.jpg" alt=""
                                     style="width: 100%; height: 180px;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ food.name }}
                                        <a href="{% url 'main:like' pk=food.pk %}" style="color: #e83e8c;">
                                            {% if not request.user in food.user.all %}
                                            <svg class="bi bi-heart" width="0.6em" height="0.6em" viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            {% else %}
                                            <svg class="bi bi-heart-fill" width="0.6em" height="0.6em"
                                                 viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                            {% endif %}
                                        </a>
                                        <span class="small" style="color: #e83e8c;">{{ food.user_count }}</span>
                                    </h4>
                                    <a href="{% url 'main:recipe' pk=food.pk %}" class="card-text">레시피 보기 ></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}

                {% if food_me_set %}
                <li class="category">
                    <h1 class="my-4">냉장고를 부탁해
                        <small>#고기/계란</small>
                    </h1>

                    <div class="row">
                        {% for food in food_me_set %}
                        <div class="col my-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static 'images/food/' %}{{ food.id }}.jpg" alt=""
                                     style="width: 100%; height: 180px;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ food.name }}
                                        <a href="{% url 'main:like' pk=food.pk %}" style="color: #e83e8c;">
                                            {% if not request.user in food.user.all %}
                                            <svg class="bi bi-heart" width="0.6em" height="0.6em" viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            {% else %}
                                            <svg class="bi bi-heart-fill" width="0.6em" height="0.6em"
                                                 viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                            {% endif %}
                                        </a>
                                        <span class="small" style="color: #e83e8c;">{{ food.user_count }}</span>
                                    </h4>
                                    <a href="{% url 'main:recipe' pk=food.pk %}" class="card-text">레시피 보기 ></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}

                {% if food_ri_set %}
                <li class="category">
                    <h1 class="my-4">냉장고를 부탁해
                        <small>#쌀/밥</small>
                    </h1>

                    <div class="row">
                        {% for food in food_ri_set %}
                        <div class="col my-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static 'images/food/' %}{{ food.id }}.jpg" alt=""
                                     style="width: 100%; height: 180px;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ food.name }}
                                        <a href="{% url 'main:like' pk=food.pk %}" style="color: #e83e8c;">
                                            {% if not request.user in food.user.all %}
                                            <svg class="bi bi-heart" width="0.6em" height="0.6em" viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            {% else %}
                                            <svg class="bi bi-heart-fill" width="0.6em" height="0.6em"
                                                 viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                            {% endif %}
                                        </a>
                                        <span class="small" style="color: #e83e8c;">{{ food.user_count }}</span>
                                    </h4>
                                    <a href="{% url 'main:recipe' pk=food.pk %}" class="card-text">레시피 보기 ></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}

                {% if food_ki_set %}
                <li class="category">
                    <h1 class="my-4">냉장고를 부탁해
                        <small>#김치/발효</small>
                    </h1>

                    <div class="row">
                        {% for food in food_ki_set %}
                        <div class="col my-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static 'images/food/' %}{{ food.id }}.jpg" alt=""
                                     style="width: 100%; height: 180px;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ food.name }}
                                        <a href="{% url 'main:like' pk=food.pk %}" style="color: #e83e8c;">
                                            {% if not request.user in food.user.all %}
                                            <svg class="bi bi-heart" width="0.6em" height="0.6em" viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            {% else %}
                                            <svg class="bi bi-heart-fill" width="0.6em" height="0.6em"
                                                 viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                            {% endif %}
                                        </a>
                                        <span class="small" style="color: #e83e8c;">{{ food.user_count }}</span>
                                    </h4>
                                    <a href="{% url 'main:recipe' pk=food.pk %}" class="card-text">레시피 보기 ></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}

                {% if food_de_set %}
                <li class="category">
                    <h1 class="my-4">냉장고를 부탁해
                        <small>#간식/디저트</small>
                    </h1>

                    <div class="row">
                        {% for food in food_de_set %}
                        <div class="col my-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static 'images/food/' %}{{ food.id }}.jpg" alt=""
                                     style="width: 100%; height: 180px;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ food.name }}
                                        <a href="{% url 'main:like' pk=food.pk %}" style="color: #e83e8c;">
                                            {% if not request.user in food.user.all %}
                                            <svg class="bi bi-heart" width="0.6em" height="0.6em" viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            {% else %}
                                            <svg class="bi bi-heart-fill" width="0.6em" height="0.6em"
                                                 viewBox="0 0 16 16"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                            {% endif %}
                                        </a>
                                        <span class="small" style="color: #e83e8c;">{{ food.user_count }}</span>
                                    </h4>
                                    <a href="{% url 'main:recipe' pk=food.pk %}" class="card-text">레시피 보기 ></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>


        <div class="col-lg-2" style="">
            <div class="hero__categories">
                <div class="hero__categories__all px-2">
                    <span>북마크</span>
                </div>
                <ul class="px-2">
                    <li><a href="#">Fresh Meat</a></li>
                    <li><a href="#">Vegetables</a></li>
                    <li><a href="#">Fruit & Nut Gifts</a></li>
                    <li><a href="#">Fresh Berries</a></li>
                    <li><a href="#">Ocean Foods</a></li>
                    <li><a href="#">Butter & Eggs</a></li>
                    <li><a href="#">Fastfood</a></li>
                    <li><a href="#">Fresh Onion</a></li>
                    <li><a href="#">Papayaya & Crisps</a></li>
                    <li><a href="#">Oatmeal</a></li>
                    <li><a href="#">Fresh Bananas</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}