{% extends 'main/base.html' %}

{% block title %}
<title>Foodbock fridge page</title>
{% endblock %}

{% block style %}
<style>
    .w3-container:before, .w3-container:after {
        content: "";
        display: table;
        clear: both;
    }

    .w3-container {
        width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: text-top;
        padding: 0;
        margin: 0 0 0 4px;
    }

    .green {
        background-color: #92B558;
    }

    .yellow {
         background-color: #f6d155;
    }

    .red {
        background-color: #f2552c;
    }
</style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'main:add-ingredient' %}" class="w3-button w3-circle">+</a>

<p class="lead mt-4" style="text-align: center; font-size: 0.9rem; line-height: 2;">
    칼로리 100g 기준<br>
    신선도 높음 <span class="mr-3 w3-container green"></span> 보통 <span class="mr-3 w3-container yellow"></span> 낮음 <span
        class="mr-3 w3-container red"></span>
</p>

{% if not my_stored_ingredients %}
<div class="container my-5 py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-lg-7">
            <p class="font-weight-medium text-center text-xs text-white text-muted animate"
               data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
                안녕하세요 {{ request.user }}님!
            </p>
            <p class="font-weight-medium text-center text-xs text-white text-muted animate"
               data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
                냉장고에 있는 음식 재료들을 추가하여 관리해 보세요!
            </p>
        </div>
    </div>
</div>

{% else %}
<div class="container">

    <div class="mt-5">
        <h1 class="font-weight-light text-lg-left mt-4 mb-0">냉동실</h1>
        <hr class="my-3">
        <ul class="row text-center text-lg-left list-unstyled m-0">
            {% for my_stored_ingredient in my_stored_ingredients %}
            {% if my_stored_ingredient.ingredient.fridger == 'F' %}
            <li class="col-xs-3 col-xs-4 mr-4">
                <a href="{% url 'main:delete-ingredient' pk=my_stored_ingredient.pk %}" class="close">
                    <span aria-hidden="true">&times;</span>
                </a>

                <div class="d-block">
                    <img class="img-fluid img-thumbnail" src="{{ my_stored_ingredient.ingredient.image.url }}"
                         alt="" style="width: 100px; height: 70px;">
                </div>

                <div class="text-muted text-center">
                    <div>
                        <span>{{ my_stored_ingredient.ingredient.name }}</span>
                    </div>

                    <div class="border-bottom border-gray">
                        <p class="mb-0 small">
                            {% if my_stored_ingredient.freshness == '신선도 위험' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container red"></span></strong><br>
                            <span class="text-danger">({{ my_stored_ingredient.left_days }}일 지남)</span>
                            {% elif my_stored_ingredient.freshness == '신선도 높음' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container green"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% elif my_stored_ingredient.freshness == '신선도 보통' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container yellow"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% else %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container red"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% endif %}
                        </p>
                        <p class="mb-0 small">
                            <strong class="text-gray-dark">{{ my_stored_ingredient.ingredient.kcalories }} kcal</strong>
                        </p>
                    </div>

                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="mt-5">
        <h1 class="font-weight-light text-lg-left mt-4 mb-0">냉장실</h1>
        <hr class="my-3">
        <ul class="row text-center text-lg-left list-unstyled m-0">
            {% for my_stored_ingredient in my_stored_ingredients %}
            {% if my_stored_ingredient.ingredient.fridger == 'R' %}
            <li class="col-xs-3 col-xs-4 mr-4">
                <a href="{% url 'main:delete-ingredient' pk=my_stored_ingredient.pk %}" class="close">
                    <span aria-hidden="true">&times;</span>
                </a>

                <div class="d-block">
                    <img class="img-fluid img-thumbnail" src="{{ my_stored_ingredient.ingredient.image.url }}"
                         alt="" style="width: 100px; height: 70px;">
                </div>

                <div class="text-muted text-center">
                    <div>
                        <span>{{ my_stored_ingredient.ingredient.name }}</span>
                    </div>

                    <div class="border-bottom border-gray">
                        <p class="mb-0 small">
                            {% if my_stored_ingredient.freshness == '신선도 위험' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container red"></span></strong><br>
                            <span class="text-danger">({{ my_stored_ingredient.left_days }}일 지남)</span>
                            {% elif my_stored_ingredient.freshness == '신선도 높음' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container green"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% elif my_stored_ingredient.freshness == '신선도 보통' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container yellow"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% else %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container red"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% endif %}
                        </p>
                        <p class="mb-0 small">
                            <strong class="text-gray-dark">{{ my_stored_ingredient.ingredient.kcalories }} kcal</strong>
                        </p>
                    </div>

                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="mt-5">
        <h1 class="font-weight-light text-lg-left mt-4 mb-0">상온</h1>
        <hr class="my-3">
        <ul class="row text-center text-lg-left list-unstyled m-0">
            {% for my_stored_ingredient in my_stored_ingredients %}
            {% if my_stored_ingredient.ingredient.fridger == 'T' %}
            <li class="col-xs-3 col-xs-4 mr-4">
                <a href="{% url 'main:delete-ingredient' pk=my_stored_ingredient.pk %}" class="close">
                    <span aria-hidden="true">&times;</span>
                </a>

                <div class="d-block">
                    <img class="img-fluid img-thumbnail" src="{{ my_stored_ingredient.ingredient.image.url }}"
                         alt="" style="width: 100px; height: 70px;">
                </div>

                <div class="text-muted text-center">
                    <div>
                        <span>{{ my_stored_ingredient.ingredient.name }}</span>
                    </div>

                    <div class="border-bottom border-gray">
                        <p class="mb-0 small">
                            {% if my_stored_ingredient.freshness == '신선도 위험' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container red"></span></strong><br>
                            <span class="text-danger">({{ my_stored_ingredient.left_days }}일 지남)</span>
                            {% elif my_stored_ingredient.freshness == '신선도 높음' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container green"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% elif my_stored_ingredient.freshness == '신선도 보통' %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container yellow"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% else %}
                            <strong class="text-gray-dark"> {{ my_stored_ingredient.freshness }} <span
                                    class="w3-container red"></span></strong><br>
                            <span>({{ my_stored_ingredient.left_days }}일 남음)</span>
                            {% endif %}
                        </p>
                        <p class="mb-0 small">
                            <strong class="text-gray-dark">{{ my_stored_ingredient.ingredient.kcalories }} kcal</strong>
                        </p>
                    </div>

                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}