<!doctype html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ingredients.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <title>Foodbox fridge add page</title>
</head>

<body>
<form action="{% url 'main:fridge-add' %}" method="get" class="form-inline mt-5">
    <input name="search_text" type="text" class="form-control mr-sm-2 mb-3">
    <button type="submit" class="btn btn-sm btn-outline-dark mb-3">재료 검색</button>
    <a href="{% url 'main:fridge-add' %}" class="btn btn-sm btn-outline-dark ml-2 mb-3">전체 보기</a>
</form>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="{% url 'main:add-vegetable' %}" class="list-group-item list-group-item-action bg-light">채소/과일</a>
            <a href="{% url 'main:add-meat' %}" class="list-group-item list-group-item-action bg-light">육류</a>
            <a href="{% url 'main:add-marine' %}" class="list-group-item list-group-item-action bg-light">수산물</a>
            <a href="{% url 'main:add-grain' %}" class="list-group-item list-group-item-action bg-light">곡물/견과류</a>
            <a href="{% url 'main:add-sauce' %}" class="list-group-item list-group-item-action bg-light">양념/소스</a>
            <a href="{% url 'main:add-milk' %}" class="list-group-item list-group-item-action bg-light">가공/유제품</a>
            <a href="{% url 'main:add-others' %}" class="list-group-item list-group-item-action bg-light">기타</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <div class="my-2">
        <ul class="row list-unstyled m-0">
            {% for ingredient_info in ingredient_infos %}
            <a href="{% url 'main:add-ingredient' pk=ingredient_info.pk %}" style="color: rgba(0, 0, 0, 0.9);">
                <li class="col">
                    <svg class="bi bi-check-box" width="1.6em" height="1.6em" viewBox="0 0 20 20" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M17.354 4.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L10 11.293l6.646-6.647a.5.5 0 01.708 0z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd"
                              d="M3.5 15A1.5 1.5 0 005 16.5h10a1.5 1.5 0 001.5-1.5v-5a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h8a.5.5 0 000-1H5A1.5 1.5 0 003.5 5v10z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <div class="bg-light text-center rounded">
                        <img src="{{ ingredient_info.image.url }}" alt="" class="bi bi-alarm-fill" width="100em"
                             height="100em">
                    </div>

                    <div class="text-muted text-center">
                        <div>
                            <span>{{ ingredient_info.name }}</span>
                        </div>
                    </div>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>