{% extends 'main/fridge/add_fridge.html' %}

{% block content %}
<form action="{% url 'main:input-date' pk=ingredient.pk %}" method="post" class="m-5">
    {% csrf_token %}
    <div class="form-group row mx-0">
        <label for="ingredientName" class="col-sm-2 col-form-label p-0" style="line-height: 38px;">재료</label>
        <div class="col-sm-10 p-0">
            <input type="text" readonly class="form-control-plaintext" id="ingredientName"
                   value="{{ ingredient.name }}">
        </div>
    </div>
    <div class="form-group row mx-0">
        <label for="inputDate" class="col-sm-2 col-form-label p-0" style="line-height: 38px;">보관 날짜</label>
        <div class="col-sm-10 p-0" style="max-width: 450px;">
            <input type="date" name="input_date" class="form-control" id="inputDate">
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-dark mt-2">추가하기</button>

    {% if previous_btn %}
    <p class="mt-4 strong">{{ error_msg }}</p>
    <a href="{% url 'main:add-fridge' %}" class="btn btn-sm mt-2 strong-btn">{{ previous_btn }}</a>
    {% endif %}
</form>
{% endblock %}