{% extends 'main/base.html' %}

{% block title %}
<title>Foodbox memo page</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'main:add-memo' %}" class="w3-button w3-circle">+</a>

{% if not my_memo_ingredients %}
<div class="container my-5 py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-lg-7">
            <p class="font-weight-medium text-center text-xs text-white text-muted animate"
               data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
                안녕하세요 hjk@hjk.com님!
            </p>
            <p class="font-weight-medium text-center text-xs text-white text-muted animate"
               data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
                장 볼 음식 재료들을 메모하여 냉장고에 추가해 보세요!
            </p>
        </div>
    </div>
</div>

{% else %}
<div class="container-fluid my-4" style="height: 24px; width: 80%;">
    <div class="row" style="height: 24px; text-align: center;">
        <div class="col-sm-3 my-1"
             style="height: 24px; line-height: 24px; font-size: 20px; color: #e83e8c;">
            {{ not_checked_count }}
        </div>
        <div class="col-sm-6 my-1">
            <div class="progress" style="height: 24px;">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%"
                     aria-valuenow="75"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <a href="" class="col-sm-3 my-1">냉장고 넣기
            <img style="width: 24px; height: 24px;" src="https://img.icons8.com/ios/50/000000/fridge.png"/>
        </a>
    </div>
</div>


<div class="container" style="margin-top: 100px;">

    {% if my_memo_ingredients_ve %}
    <div class="mt-5">
        <h3 class="font-weight-light mt-4 mb-0">채소/과일</h3>
        <hr class="my-3">
        <ul class="row text-center text-lg-left list-unstyled m-0">
            {% for my_memo_ingredient_ve in my_memo_ingredients_ve %}
            <li class="col-xs-3 col-xs-4 mr-4">
                <div class="media text-muted pt-3">
                    {% if my_memo_ingredient_ve.status == 'checked' %}
                    <a href="{% url 'main:memo-check' pk=my_memo_ingredient_ve.pk %}"
                   style="color: #212529; font-size: 1.4rem !important; text-decoration-line: line-through; text-decoration-color: #ffc107;">
                    {% else %}
                    <a href="{% url 'main:memo-check' pk=my_memo_ingredient_ve.pk %}"
                       style="color: #212529; font-size: 1.4rem !important;">
                        {% endif %}
                        <svg class="bi bi-check-circle" width="24" height="24" viewBox="0 0 24 24"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
                                  clip-rule="evenodd"/>
                            <path fill-rule="evenodd"
                                  d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
                                  clip-rule="evenodd"/>
                        </svg>
                        {{ my_memo_ingredient_ve.ingredient.name }}
                    </a>

                    <a href="{% url 'main:delete-memo-ingredient' pk=my_memo_ingredient_ve.pk %}">
                        <svg class="bi bi-trash" width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if my_memo_ingredients_ma %}
    <div class="mt-5">
        <h3 class="font-weight-light mt-4 mb-0">수산물</h3>
        <hr class="my-3">
        <ul class="row text-center text-lg-left list-unstyled m-0">
            {% for my_memo_ingredient_ma in my_memo_ingredients_ma %}
            <li class="col-xs-3 col-xs-4 mr-4">
                <div class="media text-muted pt-3">
                    {% if my_memo_ingredient_ma.status == 'checked' %}
                    <a href="{% url 'main:memo-check' pk=my_memo_ingredient_ma.pk %}"
                   style="color: #212529; font-size: 1.4rem !important; text-decoration-line: line-through; text-decoration-color: #ffc107;">
                    {% else %}
                    <a href="{% url 'main:memo-check' pk=my_memo_ingredient_ma.pk %}"
                       style="color: #212529; font-size: 1.4rem !important;">
                        {% endif %}
                        <svg class="bi bi-check-circle" width="24" height="24" viewBox="0 0 24 24"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
                                  clip-rule="evenodd"/>
                            <path fill-rule="evenodd"
                                  d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
                                  clip-rule="evenodd"/>
                        </svg>
                        {{ my_memo_ingredient_ma.ingredient.name }}
                    </a>

                    <a href="{% url 'main:delete-memo-ingredient' pk=my_memo_ingredient_ma.pk %}">
                        <svg class="bi bi-trash" width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}