<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/members.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Foodbox signup page</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">가입하기</h5>
                    <form action="{% url 'members:signup' %}" method="post" class="form-signin">
                        {% csrf_token %}
                        <div class="form-label-group">
                            <input type="email" name="email" id="inputEmail" class="form-control"
                                   placeholder="Email address"
                                   required autofocus>
                            <label for="inputEmail">이메일 주소</label>
                        </div>

                        <div class="form-label-group">
                            <input type="date" name="birth" id="inputBirth" class="form-control"
                                   placeholder="Birth"
                                   required autofocus>
                            <label for="inputBirth">생년월일</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text" name="nickname" id="inputNickname" class="form-control"
                                   placeholder="Nickname"
                                   required autofocus>
                            <label for="inputNickname">닉네임</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="Password"
                                   required>
                            <label for="inputPassword">비밀번호</label>
                        </div>

                        <div class="form-labe-group ml-2">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" name="gender" value="여자"
                                       class="custom-control-input"
                                       id="customCheckFemale">
                                <label class="custom-control-label"
                                       for="customCheckFemale">여자</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" name="gender" value="남자"
                                       class="custom-control-input"
                                       id="customCheckMale">
                                <label class="custom-control-label"
                                       for="customCheckMale">남자</label>
                            </div>
                        </div>


                        <!--                        <div class="custom-control custom-checkbox mb-3">-->
                        <!--                            <input type="checkbox" class="custom-control-input" id="customCheck1">-->
                        <!--                            <label class="custom-control-label" for="customCheck1">비밀번호 저장</label>-->
                        <!--                        </div>-->
                        <button class="btn btn-block text-uppercase" type="submit"
                                style="padding: 10px 30px; color: #333; border: 1px solid #333; background: #fff; border-radius: 20px; transition: all ease-in-out 0.3s;}">
                            이메일로 가입하기
                        </button>
                        <hr class="my-4">
                        <!--                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i-->
                        <!--                                class="fab fa-google mr-2"></i> Google로 가입하기-->
                        <!--                        </button>-->
                        <!--                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i-->
                        <!--                                class="fab fa-facebook-f mr-2"></i> Facebook으로 가입하기-->
                        <!--                        </button>-->
                    </form>

                    {% if error_msg %}
                    <p class="strong">{{ error_msg }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>